<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/list.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>list</title>
</head>
<body>
<nav class="nav-top" role="navigation">
    <div class="nav-wrap container clearfix">
        <div class="web-logo pull-left">
            <img src="/images/weiqi.png" alt="logo">
            <span style="font-size: 20px;font-weight: 500;"><a href="#">围棋学习</a></span>
        </div>
        <ul class="web-sign pull-right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
    </div>
</nav>
<div class="list-content-top">
    <div class="container">
        <div>
            <span>课程</span> <i class="fa fa-angle-right"></i>
            <span>后端开发</span> <i class="fa fa-angle-right"></i>
            <span>PHP</span> <i class="fa fa-angle-right"></i>
            <span>PHP中的HTTP协议</span>
        </div>
        <h2><i class="fa fa-location-arrow"></i>PHP中的HTTP协议</h2>
        <ul>
            <li><button class="btn btn-primary">继续游戏</button></li>
            <li>闯关人数: <span>100</span></li>
            <li>难度系数: <span>100</span></li>
        </ul>
        <img class="img-weiqi-1" src="/images/weiqi-1.png" alt="weiqi">
    </div>
</div>
<div class="content-main container">
    <div class="row">
        <div class="col-md-12">
            <h4>简介：本课程来自去哪儿网前端交互沙龙第三期现场分享。由去哪儿网的资深工程师给大家分享前端开发实践经验。精彩分享不容错过噢！</h4>
            <ul class="zangjie-nav clearwordspace">
                <li class="active"><a href="#">章节</a></li>
                <li><a href="#">评论</a></li>
            </ul>
            <ul class="zangjie-list">
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
                <li><i class="fa fa-caret-right"></i><a href="#">第1章 工程化的Node.js开发及运维 </a></li>
            </ul>
        </div>
        <!--<div class="col-md-3">-->

        <!--</div>-->
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <ul class="footer-sns clearwordspace">
                <li><a href="#" class=""><i class="fa fa-weibo"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-weixin"></i> </a></li>
                <li><a href="http://t.qq.com/mukewang999"><i class="fa fa-tencent-weibo"></i></a></li>
            </ul>
        </div>
        <div class="footer-link">
            <a href="/about/us" target="_blank" title="关于我们">关于我们</a>
            <a href="#">企业合作</a>
            <a href="/about/job">人才招聘</a>
            <a href="/about/contact">联系我们</a>
            <a href="/about/recruit">讲师招募</a>
            <a href="/about/faq">常见问题</a>
            <a href="/user/feedback">意见反馈</a>
            <a href="http://daxue.imooc.com/">慕课大学</a>
            <a href="/about/friendly">友情链接</a>
        </div>
        <div class="footer-copyright"><p>©&nbsp;2017&nbsp;imooc.com&nbsp;&nbsp;京ICP备 13046642号-2</p></div>
    </div>
</footer>
</body>
</html>