
<link rel="stylesheet" href="/css/master/footer.css">

<footer class="footer width100">
    <div class="footer-wrap">
        <ul class="footer-sns clearSpacing">
            <li><a href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a href="#"><i class="fa fa-weixin"></i></a></li>
            <li><a href="#"><i class="fa fa-tencent-weibo"></i></a></li>
        </ul>
    </div>
    <div class="footer-link">
        <a href="#">关于我们</a>
        <a href="#">企业合作</a>
        <a href="#">人才招聘</a>
        <a href="#">联系我们</a>
        <a href="#">常见问题</a>
        <a href="#">意见反馈</a>
        <a href="#">友情链接</a>
    </div>
    <div class="footer-copyright"><p>©&nbsp;2017&nbsp;weiqi.com&nbsp;&nbsp;京ICP备 xxxxxxxx号-x</p></div>
</footer>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>